.container {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(blue, purple,indigo);
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .reg {
    display: flex;
    flex-direction: column;
    border: 3px solid navy;
    width: 40%;
    height: 15rem;
    background-color: white;
    align-items: center;
    justify-content: space-around;
  }

  .submit {
      background-color: black;
      height: 3rem;
      color: white
  }